{% extends 'core/base.html' %}

{% block title %} {{ room.name }} | {% endblock %}

{% block content %}
    <div class="p-10 lg:p-20 text-center">
        <h1 class="text-white text-3xl lg:text-5xl text-center">
            {{ room.name }}
        </h1>
    </div>

    <div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <div class="chat-messages space-y-3" id="chat-messages">
            {% for message in messages %}
                <div class="p-4 bg-purple-300 rounded-xl">
                    <p class="font-semibold">
                        {{ message.user.username }}
                    </p>
                    <p>{{ message.content }}</p>
                </div>
            {% endfor %}


        </div>
    </div>

    <div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
        <form action="." method="post" class="flex">
            <input type="text" name="content" class="flex-1 mr-3" placeholder="Your message" id="chat-message-input">
            <button class="px-5 rounded-xl text-white bg-purple-500 hover:bg-purple-700" id="chat-message-submit">
                Submit
            </button>
        </form>
    </div>


    
{% endblock content %}

{% block scripts %}

    {{ room.slug|json_script:"json-roomName"}}

    {{ request.user.username | json_script:"json-username"}}

    <script type="text/javascript">
        const roomName = JSON.parse(document.getElementById("json-roomName").textContent)
        const userName = JSON.parse(document.getElementById("json-username").textContent)

        let url = `ws://${window.location.host}/ws/${roomName}/`

        const ChatSocket = new WebSocket(url)

        ChatSocket.onmessage = (e) => {
            let data = JSON.parse(e.data)

            if(data.message){
                let html = `<div class="p-4 bg-purple-300 rounded-xl">
                                <p class="font-semibold">
                                    ${data.username}
                                </p>
                                <p>${data.message}</p>
                            </div>`
                document.querySelector('#chat-messages').innerHTML += html
                scrollToBottom()
            }else{
                alert("The message is empty!")
            }
        }

        ChatSocket.onclose = (e) => {
            console.log("Disconnected");
        }

        //Listen for onclick on the submit button of the form
        document.querySelector('#chat-message-submit').onclick = function(e){
            
            e.preventDefault();

            const messageDom = document.querySelector('#chat-message-input')
            const message = messageDom.value

            ChatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'roomName' : roomName,
            }))

            messageDom.value = ""

            return false
        }

        //Scroll to the bottom of the chat messages
        const scrollToBottom = () =>{
            let chatMessagesDom = document.querySelector('#chat-messages')
            chatMessagesDom.scrollTop = chatMessagesDom.scrollHeight
        }
        //Fire on load
        scrollToBottom()

    </script>
{% endblock %}